[submodule "projects/create/xmas-cards-2025"]
	path = projects/create/xmas-cards-2025
	url = https://github.com/jayers99/xmas-cards-2025.git
[submodule "projects/code/render-run"]
	path = projects/code/render-run
	url = https://github.com/jayers99/render-run.git
[submodule "projects/code/template-python-cli"]
	path = projects/code/template-python-cli
	url = https://github.com/jayers99/template-python-cli.git
[submodule "projects/create/bowerbird"]
	path = projects/create/bowerbird
	url = https://github.com/jayers99/bowerbird.git
